<a href="https://colab.research.google.com/github/Vedant-Trivedi/Experiment-5/blob/main/EXP5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Study Of Dictionaries
##Vedant Trivedi
##25070123121

Creation of Dictionary

In [ ]:
thisdict = { "brand": "Ford",
            "model": "Mustang",
             "year": 1964,
             "year": 2020
             }
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Length of key-value pairs

In [ ]:
len(thisdict)

3

In [ ]:
car = { "brand": "Ford",
            "model": "Mustang",
             "year": 1964,
             "year": 2020
             }
car["color"] = "red"
print(type(car))
print(car)
x = car.values()
print(car.values()) #after the change

<class 'dict'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
dict_values(['Ford', 'Mustang', 2020, 'red'])

In [ ]:
student = {
    "roll": "25070123121",
    "name": "Vedant Trivedi",
    "branch": "ENTC"
}
print("Name:", student["name"])

Name: Vedant Trivedi

Removing Elements

In [ ]:
student.pop("branch")
print("After removals:", student)

After removals: {'roll': '25070123121', 'name': 'Vedant Trivedi'}

Updating values

In [ ]:
products = {"pen": 18, "Book": 50, "Scale": 60, "Book": 55}
print("Orignal product prices", products)
products["pen"] = 20
print("New product prices", products)

Orignal product prices {'pen': 18, 'Book': 55, 'Scale': 60}
New product prices {'pen': 20, 'Book': 55, 'Scale': 60}

In [ ]:
marks = {"A": 85, "B": 72, "C": 90}
name = input ("Enter Student name: ")
print(marks.get(name, "student not found"))

Enter Student name: A
85

In [ ]:
users = {"admin": "1234", "student": "abcd"}
user_name = input("Username: ")
pw = input("Password: ")
if users.get(user_name) == pw:
    print("Access Granted")
else:
    print("Wrong Password or Username")

Username: admin
Password: 123
Wrong Password or Username

In [26]:
marks = {"A":85, "B": 92, "C": 78}
topper = max(marks, key=marks.get)
print("Topper: ",topper)
print("Marks: ", marks[topper])

Topper:  B
Marks:  92